@media (min-width: 45rem) {
    main {
        display: flex;
        justify-content: center;
    }

    .img-desktop {
        display: block;
        border-radius: .5rem 0 0 .5rem;
    }

    .img-mobile {
        display: none;
    }

    section {
        border-radius: 0 .5rem .5rem 0;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .title {
        font-size: .75rem;
        letter-spacing: .3rem;
    }

    .brand-title {
        font-size: 2.1rem;
        line-height: 2rem;
    }

    .paragrah {
        font-size: .85rem;
        line-height: 1.3rem;
    }

    .new-price {
        font-size: 1.8rem;
    }
    
    .old-price {
        font-size: .8rem;
        margin-left: .9rem;
    }
  }
  